li {
  list-style: none;
}

.app {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 1em auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.demo {
  min-height: 150px;
  padding: 1em;
  border: 1px solid #ddd;
}

.demo:nth-child(2n+1) {
  background: #eee;
}

.walletList {
  width: 400px;
  text-align: left;
}

.App-link {
  color: #61dafb;
}
